name: zebra_link_os_android
description: "A new Flutter plugin project."
version: 0.0.6
# homepage: null
publish_to: 'none'

environment:
  sdk: ">=3.3.4 <4.0.0"
  flutter: ">=3.3.0"

flutter:
  plugin:
    implements: zebra_platform_interface
    platforms:
      android:
        ffiPlugin: true
        dartPluginClass: ZebraLinkOsAndroid

dependencies:
  flutter:
    sdk: flutter
  jni: ^0.12.2  
  zebra_link_os_platform_core: 
    git: 
      url: https://github.com/vadrian89/zebra_link_os_platform_core
      ref: 5f4780aad1c1021395b381ea5e474068ecd4dcb9

dev_dependencies:
  flutter_lints: ^3.0.0
  flutter_test:
    sdk: flutter
  jnigen: ^0.12.2
